@using AuthLab2.Infrastructure
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Product

<div class="card m-1 p-1">
    <h4>
        @Model.name
        <span class="badge rounded-pill bg-primary text-white float-end"><small>Year: @Model.year</small></span>
    </h4>
    <ul>
        <li>Number of Parts: @Model.num_parts</li>
        <li>Price: $@Model.price</li>
        <li><img src="@Model.img_link" alt="Image" width="150" height="150"></li>




    </ul>

    <form id="form-@Model.product_ID" method="post" asp-page="/Cart">
        <input type="hidden" name="productId" value="@Model.product_ID" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <button type="submit" class="btn btn-outline-success btn-sm float-end">Add to Cart</button>
    </form>

    
</div>