@{
    ViewData["Title"] = "Products";
}

@model List<Product>

<vc:nav-bar-types user="Admin"></vc:nav-bar-types>
<vc:submenu-types view="Default"></vc:submenu-types>

<!--Table with all of the products to add, edit, or delete as needed-->

<div class="container-fluid m-2">
    <br />
    
    <div class="text-center">
        <a class="btn btn-primary btn-xl" asp-controller="Admin" asp-action="ProductsAddAdmin">
            Add Product
        </a>
    </div>
    <br />
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><img src="~/img/lego brick.png" width="50px" /></div>
        <div class="divider-custom-line"></div>
    </div>
    <br />
    <table class="table table-bordered">
        <thead class="fw-bold text-center"> <!--Headings-->
            <tr>
                <td>Name</td>
                <td>Year</td>
                <td>Price</td>
                <td>Link</td>
                <td>Colors</td>
                <td>Category</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
            
        </thead> <!--Rows-->
            @foreach (Product p in Model)
            {
                <tbody>
                    <tr class="@((Model.IndexOf(p) % 2 == 0) ? "even-row" : "odd-row")">
                        <td>@p.name</td>
                        <td>@p.year</td>
                        <td>$@p.price.00</td>
                        <td>@p.img_link</td>
                        <td>@p.primary_color / @p.secondary_color</td>
                        <td>@p.category</td>
                        <td>
                            <a class="btn btn-info text-white" asp-controller="Admin" asp-action="ProductsEditAdmin" asp-route-id="@p.row_ID">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-controller="Admin" asp-action="ProductsDeleteAdmin" asp-route-id="@p.row_ID">Delete</a>
                        </td>
                        
                    </tr>
                </tbody>

                
            }
    </table>
    <br />
</div>

