@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ProductDetailsViewModel

<h1>Product Details</h1>

<h2>@Model.Product.name</h2>


<div>
    <br />
    <div class="text-center">
        <img src="@Model.Product.img_link" alt="Image" height="100px">
    </div>
    <br />
    <br />
    <br />
    <div class="price-and-button-container">
        <div class="price">
            <h6>$@Model.Product.price.00</h6>
        </div>
    </div>

    <div class="description">
        <p>@Model.Product.description</p>
    </div>
    <div class="num-parts">
        <p>@Model.Product.num_parts</p>
    </div>
    <div class="year">
        <p>@Model.Product.year</p>
    </div>
    <div class="colors">
        <p>@Model.Product.primary_color/@Model.Product.secondary_color</p>
    </div>
    <div class="category">
        <p>@Model.Product.category</p>
    </div>
    <div class="recommendations">
        <p>@Model.content_Recs.Recommendation_1</p>
    </div>
</div>
