@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Product

<h1>Product Details</h1>

<h2>@Model.name</h2>


<div>
    <br />
    <div class="text-center">
        <img src="@Model.img_link" alt="Image" height="250px" width="300px">
    </div>
    <br />
    <br />
    <br />

    <h5>Price:</h5>
        <div class="price">
            <p>$@Model.price.00</p>
        </div>
    </div>

    <h5>Item description: </h5>
    <br />
    <div class="description">
        <p>@Model.description</p>
    </div>

    <h5>Number of Parts: </h5>
    <div class="num-parts">
        <p>@Model.num_parts</p>
    </div>

    <h5>Year Released: </h5>
    <div class="year">
        <p>@Model.year</p>
    </div>

    <h5>Colors Included: </h5>
    <div class="colors">
        <p>@Model.primary_color/@Model.secondary_color</p>
    </div>

    <h5>Category: </h5>
    <div class="category">
        <p>@Model.category</p>
    </div>
</div>
