@{
    ViewData["Title"] = "Our Products";
}

<vc:nav-bar-types user="Visitor"></vc:nav-bar-types>
<vc:submenu-types view="Default"></vc:submenu-types>

<div class="container-fluid">
    <br />
    <div class="row">
        <!-- Sidebar with filters -->
        
        <br />
        <br />
        <br />
        <br />
        <div class="col-md-3">
            <h3>Filter Products:</h3>
            <br />
            <form method="get" action="/Home/Index">
                <label class="mr-2">Results:     </label>
                <select name="pageSize" onchange="this.form.submit()">
                    <option value="">Select # of Records to Display</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
                <input type="hidden" name="pageNum" value="@Model.PaginationInfo.CurrentPage" />
                <input type="hidden" name="productType" value="@Model.CurrentProductType" />
                <input type="hidden" name="productColor" value="@Model.CurrentProductColor" />
            </form>
            <br />
            @await Component.InvokeAsync("ProductColors")
            <br />
            @await Component.InvokeAsync("ProductTypes")
        </div>

        <!-- Main content area for products -->
        <div class="col-md-9">

            @{
                var displayedNames = new HashSet<string>();
            }
            <div class="card-container">
                @foreach (Product p in Model.Products)
                {
                    if (displayedNames.Add(p.name)) // Only displays the product if its name is unique so far
                    {
                        <div class="card m-1 p-1 bg-light">
                            <partial name="ProductSummary" model="p" />
                        </div>
                    }
                }
            </div>
            

            <!-- Pagination tag helpers here -->
            <div page-model="@Model.PaginationInfo" page-action="Products" page-classes-enabled="true" page-class="btn"
                 page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
                 page-url-productType="@Model.CurrentProductType" page-url-pageSize="@Model.PaginationInfo.ItemsPerPage" class="btn-group pull-right m-1">
            </div>

        </div>
    </div>
    
</div>

