@page
@model AuthLab2.Pages.CartModel
@{
}

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Product Title</th>
            <th>Product Image</th>
            <th>Quantity</th>
            <th class="text-right">Amount</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
        {
            <tr>
                <td class="text-left">@l.Product.name</td>
                <td class="text-center"><img src="@l.Product.img_link" alt="Image" width="150" height="150"></td>
                <td class="text-center">@l.Quantity</td>
                <td class="text-right">@l.Product.price.ToString("c")</td>
                <td class="text-right">@((l.Quantity * l.Product.price).ToString("c"))</td>
                <td class="text-right">
                    <!-- Add a form here for the remove button -->
                    <form method="post" asp-page="/Cart" asp-route-returnUrl="@Model.ReturnUrl" asp-route-productId="@l.Product.product_ID" asp-route-removeItem="true">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }


    </tbody>

    <tfoot>
        <tr>
            <td colspan="4" class="text-right">Total:</td>
            <td class="text-right">@Model.Cart?.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>

</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
    <a class="btn btn-primary" href="/Checkout">Checkout</a>
</div>
