@page
@model AuthLab2.Pages.PredictModel
@{
    // ViewData["Title"] = "Fraud Predictions";
}

<div class="container mt-5">

    <!-- Back button -->
    <a href="javascript:history.back()" class="btn btn-secondary mb-3">Back to Cart</a>
    <h2 class="mb-3">@ViewData["Title"]</h2>

    <!-- Display Cart Items -->
    @if (Model.Cart?.Lines.Count > 0)
    {
        <h3>Items in Your Cart:</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product Name</th> 
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in Model.Cart.Lines)
                    {
                        <tr>
                            <td>@line.Product.name</td>
                            <td>@line.Quantity</td>
                        </tr>
                    }
                    <tr>
                        <td><b>Subtotal:</b></td>
                        <td><b>@Model.Order.amount.ToString("C")</b></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <h3>Additional Information Required:</h3>
        <!-- Display the Form with Non-Editable Amount -->
        <form method="post">
            <div class="form-group">
                <input asp-for="Order.customer_ID" type="hidden" value="420" />
            </div>

            <br />

            <input type="hidden" asp-for="Order.time" />

            <input type="hidden" asp-for="Order.date" />

            <input type="hidden" asp-for="Order.amount" />

            <div class="form-group">
                <label asp-for="Order.entry_mode">Type of Transaction</label>
                <select asp-for="Order.entry_mode" class="form-control" required>
                    <option value="">Select Type of Transaction</option>
                    <option value="PIN">PIN</option>
                    <option value="Other">Tap</option>
                    <option value="Other">CVC</option>
                    <option value="Other">Other</option>
                </select>
                <div class="invalid-feedback">Please select an entry mode.</div>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Order.country_of_transaction">In which country are you making this purchase?</label>
                <input asp-for="Order.country_of_transaction" class="form-control" type="text" required />
                <div class="invalid-feedback">Please provide the country of transaction.</div>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Customer.country_of_residence">In which country to you live in?</label>
                <input asp-for="Customer.country_of_residence" class="form-control" type="text" required />
                <div class="invalid-feedback">Please provide the country of residence.</div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Place Order</button>
        </form>
    }
    else
    {
        <h3>Your cart is empty.</h3>
        <a href="/" class="btn btn-primary">Go to Main Page</a>
    }
</div>

@if (Model.Prediction != null)
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var prediction = '@Model.Prediction';
            var message = prediction === 'Fraud' ? 'This order is fraud.' : 'This order is NOT fraud.';
            alert(message);
        });
    </script>
}
