@page
@model AuthLab2.Pages.PredictModel
@{
    ViewData["Title"] = "Book Predictions";
}

<style>
    .table-responsive {
        overflow-x: auto;
    }

    .table {
        width: auto;
        margin-bottom: 0;
    }

    .prediction-cell {
        background-color: #e0f2f1;
    }
</style>

<h2>Predictions</h2>
<div class="full-width-table">
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Year Released</th>
                <th>Number of Parts</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BookPredictions) // Adjust according to your actual model structure
            {
                <tr>
                    <td>@item.Product.name</td>
                    <td>@item.Product.year</td>
                    <td>@item.Product.num_parts</td>
                    <td>@item.Product.price</td>
                    <td class="prediction-cell">@item.Prediction</td>
                    <td>@item.Product.img_link</td>
                </tr>
            }
        </tbody>
    </table>
</div>
